<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :学習内容 %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :開始時刻 %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :終了時刻 %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit "新規登録" %>
  </div>
<% end %>
