<p id="notice"><%= notice %></p>

<p>
  <strong>学習内容:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>開始時刻:</strong>
  <%= @task.start_date %>
</p>

<p>
  <strong>終了時刻:</strong>
  <%= @task.end_date %>
</p>

<p>
  <strong>学習時間(分):</strong>
  <%= (@task.end_date - @task.start_date).floor / 60 %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @task.comment %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>

